{% extends 'base.html.twig' %}
{% block title 'Editer l\'annonce' %}
{% block body %}
    <div class="container mt-4">
        <h2> Editer l'annonce</h2>
        {{ include('admin/job/_form.html.twig', {form:form, button: 'Editer'}) }}
    </div>
{% endblock %}

