{% extends 'base.html.twig' %}
{% block title 'Sedent-Here' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1> Agence 1 </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae corporis cupiditate deleniti distinctio dolor, dolores explicabo, facilis fugit hic laboriosam minus molestias nobis officiis optio repellat, repudiandae sapiente voluptas.
        </p>
    </div>
{% endblock %}

