{% extends 'base.html.twig' %}
{% block title 'All Jobs' %}
{% block body %}
    <div class="container text-center">
        <h1> All Jobs </h1>
        <div class="row">
            {% for job in jobs %}
                <div class="col-md-4">
                    {% include 'job/_job.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(jobs) }}
        </div>
    </div>
{% endblock %}

