{% extends 'base.html.twig' %}
{% block title 'All Jobs' %}
{% block body %}
    <div class="container text-center">
        <h1> All Jobs </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae corporis cupiditate deleniti distinctio dolor, dolores explicabo, facilis fugit hic laboriosam minus molestias nobis officiis optio repellat, repudiandae sapiente voluptas.
        </p>
    </div>
{% endblock %}

